/* part JULY Starting */



.container-p {

    background: #052b46;
}



/*  promo   */



.list-news ul li h3 a {
    color: #ffb726;
}

.promotions-menu-p ul {
    display: none;
}

.list-news ul li h3 {
    float: left;
    width: 100%;
    height: auto;
}

.list-news ul li h3 a {
    font: 30px/40px Roboto,sans-serif;
}

/* end of promo page */








.arrow-view-v3 {
    color: #cfd4da;
}


.contain-footer-block .payment-content-block>ul {
    background: url(../images/custom-footer-sprite7893.png) no-repeat 50% 50%;
}


.general-text-list p {
    color: #3a4044;
}

.single-sport-box-v3.sport-closed>.sport-name-up-game-v3>.arrow-view-v3:before {
    content: "\e670";
    color: #7b8191;
}


.single-sport-box-v3 .sport-name-up-game-v3>.arrow-view-v3:before, .single-sport-box-v3c.sport-name-up-game-v3:hover>.arrow-view-v3:before {
    color: #2f4254;
}

.sub-nav-filter-time-v3>ul>li {
    color: #c3c3c3;
}


.lc16-sport-selector-j ul li {
    color: #434e56;
}


.live-calendar-16-content-j li.coeff-column-j {
    color: #333333;
}

.live-calendar-16-content-j .single-bet-locked:before {
    color: #8e9fad;
}

.live-calendar-16-content-j li.more-column-j {
    color: #333333;
}

.live-calendar-16-content-j li.time-column-j {
    color: #333333;
}


.single-game-item-v3.no-events .team-name-1-v3>p {
    color: #929496;
}

.search-box-v3 .block-search>input[type=text] {
    box-shadow: 0 0 0 1px #5d7f9a inset;
}

.popup-wrapper-j .pu-contain-j p {
    color: #5d7f9a;
}

.new-default-popup-j {
    background: rgba(14, 24, 33, 0.95);
}

.new-default-popup-j {

    background: rgba(14, 24, 33, 0.95);
}

.block-slider.popup {
    background: rgba(14, 24, 33, 0.95);
}

.button-confirm>button {
    margin-bottom: 25px;
}


.drop-items-contain-b>ul>li:before {
    background: #5d7f9a;
}


.centr-tabs-block ul li {
    color: #96a2ab;
}


.extended-license-footer {
    color: #628094;
}



.extended-license-footer .ceg-seal-t {
    padding-right: 10px;
    width: 100px;
}



/* part JULY ENDING */




/* part MAY  STARTING */

.button-sign:disabled, .cashier-button button:disabled {
    background: #777;
    color: #222;
}

.settings-info-contain .chekcbox-j label input+span:before {
    background-color: #565656;
}

.closed-game-icon-v3 {
    font: 8px/30px icomoon;
}

.mini-header-p {
    float: left;
    width: 100%;
    height: 28px;
    background: #2a343e;
    box-sizing: border-box;
}

.mini-block-close-p {
    color: #cacaca;
}

.mini-select-p {
    background: #2a343e;
}

.bet-info-list-separator-b>ul>li.bet-odds-info-column {
    width: 100px;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    background: #2a343e;
}

.bet-info-list-separator-b>ul>li.bet-odds-info-column>span {
    color: #ffb703;
    font: 12px/36px Roboto,Helvetica,sans-serif;
    font-weight: 700;
}

.right-block-news span {
    color: #cecece;
    font: 12px/16px Roboto,Helvetica,sans-serif;
    font-weight: 700;
    width: 100%;
}

.header-nav-contain {
    text-align: left;
}

.contain-footer-block .payment-content-block>ul {
    background: url(../images/custom-footer-sprite7893.png) no-repeat 50% 50%;
}

.single-bet-maxbet-view-v3 {
    font: 11px/30px Roboto,sans-serif;
    color: #ccc;
}

.single-bet-stake-repeat-v3>i {
    box-shadow: -1px 0 0 #052b46 inset;
    color: #ccc;
}

.bet-win-view-v3>span {
    color: #00da83;
}

.arrow-rotate-filter-v3 {
    color: #939393;
}

.footer-button.footer-button-open {
    background: #00b0f0;
}

.footer-j .footer-nav-b ul li a {
    color: #b3b3b3;
}

.prematch-header-row-v3>ul>li>p {
    color: #ababab;
}

.prematch-header-row-v3>ul>li:first-child {
    border-right: 1px solid #455c6c;
}

.status-icon-separator-b {
    color: #aaa;
}
.game-additional-info-v3 {
    margin: -2px 0 5px;
}


.register-contain-new {
    float: none;
    width: 100%;
}

.logo-form-b {
    float: left;
    width: 768px;
    height: 178px;
    background: url(../images/signin_header.jpg) no-repeat 0 0px/contain;
    background-position: 0;
    background-size: contain;
    margin: -30px -30px 0px;
}


.register-steps-b {
    float: right;
    width: 768px;
    display: block;
    background: url(../images/1colorpixel.jpg);
    background-position: left;
    background-color: #2a343e;
    background-repeat: no-repeat;
    margin: 20px 0;
}


/* fresh start */






.promotions-menu-p {
    width: 100%;
    margin: 0 auto 10px;
    box-shadow: 0 0px 0 #00b0f0;
    overflow: hidden;
}

.promotions-menu-p ul li.active, .promotions-menu-p ul li:hover  {
    color: #fff;
    background: transparent;
    border-radius: 6px;
    border: 2px solid;
    border-color: #00b0f0;
}

.promotions-menu-p ul li:hover {
    border:0px;
}


.promotions-menu-p ul {
    max-width: 960px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: transparent;
    margin-top: 20px;
}






body>.about .headerVersion_2 .conteiner, body>.backgammon .headerVersion_2 .conteiner, body>.belote .headerVersion_2 .conteiner, body>.external .headerVersion_2 .conteiner, body>.fantasy .headerVersion_2 .conteiner, body>.first_deposit_bonus .headerVersion_2 .conteiner, body>.first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner, body>.gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner, body>.games .headerVersion_2 .conteiner, body>.gameslanding .headerVersion_2 .conteiner, body>.livedealer .headerVersion_2 .conteiner, body>.poker .headerVersion_2 .conteiner, body>.pokerklas .headerVersion_2 .conteiner, body>.poolbetting .headerVersion_2 .conteiner, body>.vip-promos .headerVersion_2 .conteiner {
    background: #052b46;
}



body>.about .headerVersion_2 .conteiner:before, body>.backgammon .headerVersion_2 .conteiner:before, body>.belote .headerVersion_2 .conteiner:before, body>.external .headerVersion_2 .conteiner:before, body>.fantasy .headerVersion_2 .conteiner:before, body>.first_deposit_bonus .headerVersion_2 .conteiner:before, body>.first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner:before, body>.gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner:before, body>.games .headerVersion_2 .conteiner:before, body>.gameslanding .headerVersion_2 .conteiner:before, body>.livedealer .headerVersion_2 .conteiner:before, body>.poker .headerVersion_2 .conteiner:before, body>.pokerklas .headerVersion_2 .conteiner:before, body>.poolbetting .headerVersion_2 .conteiner:before, body>.vip-promos .headerVersion_2 .conteiner:before {
    background: #052b46;
    border-bottom: solid 0px #00b0f0;
}



.ref-social-icons-j a.googlePlusUrl:before {
    content: url(../images/googlepluss.png)!important;
}

.ref-social-icons-j a.facebookUrl:before, .ref-social-icons-j a.facebookUrlLangs:before {
    content: url(../images/facebookk.png)!important;
}

.cms-jcon-twitter1:before {
    content: url(../images/twittrr.png)!important;
    font-family: icomoon!important;
    text-transform: none;
}

.cms-jcon-insstagram1:before {
    content: url(../images/instagrm.png)!important;
    font-family: icomoon!important;
    text-transform: none;
}


.block-meny-news.promo .list-news ul .active-news:after {
    border-color: transparent transparent #2a343e;
}




.list-news ul li {
    margin: 40px 10px 0 16px;
}


.list-news ul li p {
    color: #5f666b;
}

.promos .list-news ul {

    text-align: center;
}

.list-news ul li h3 a {
    color: #fbfbfb;
}

.body-wrapper.promos .promos-container {
    margin: 0px 0 0;
    float: left;
    width: 100%;
    background: #111c25;
}

.body-wrapper, .body-wrapper.sport.classic {
    background: #111c25;
}


.block-slider .close-slider-button-j {
    top: 87px;
}

.block-slider {
    background: #111c25;
    box-shadow: 0 1px 10px #0D0F18;
}

.closed-arrow-b {
    background: #2a343e;
    box-shadow: 0 1px 0 #46515d inset;
}

.tab-contain-bets {
    background: #2a343e;
    border-bottom: 1px solid #46515d;
}


.body-wrapper .centr-tabs-block ul li.active-tab {
    background: 0 0;
    color: #fff;
    box-shadow: 0 -3px 0 #00b0f0 inset;
}

.body-wrapper .centr-tabs-block ul li {
    background: 0 0;
    border-left: 1px solid #172630;
    border-right: 1px solid #172630;
    font: 16px/20px Arial,Helvetica,sans-serif;
}

.body-wrapper .centr-tabs-block ul li {
    background: 0 0;
    border-left: 1px solid #172630;
    border-right: 1px solid #172630;
    font: 16px/20px Arial,Helvetica,sans-serif;
}

.live-casino-games-by-ul-column {
    margin-top: 70px;
    width: 1300px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}


.backgammon .headerVersion_2 .conteiner.show-fix:after, .backgammon .headerVersion_2 .conteiner.show-game:after, .belote .headerVersion_2 .conteiner.show-fix:after, .belote .headerVersion_2 .conteiner.show-game:after, .external .headerVersion_2 .conteiner.show-fix:after, .external .headerVersion_2 .conteiner.show-game:after, .fantasy .headerVersion_2 .conteiner.show-fix:after, .fantasy .headerVersion_2 .conteiner.show-game:after, .first_deposit_bonus .headerVersion_2 .conteiner.show-fix:after, .first_deposit_bonus .headerVersion_2 .conteiner.show-game:after, .first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner.show-fix:after, .first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner.show-game:after, .gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner.show-fix:after, .gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner.show-game:after, .games .headerVersion_2 .conteiner.show-fix:after, .games .headerVersion_2 .conteiner.show-game:after, .gameslanding .headerVersion_2 .conteiner.show-fix:after, .gameslanding .headerVersion_2 .conteiner.show-game:after, .livedealer .headerVersion_2 .conteiner.show-fix:after, .livedealer .headerVersion_2 .conteiner.show-game:after, .poker .headerVersion_2 .conteiner.show-fix:after, .poker .headerVersion_2 .conteiner.show-game:after, .pokerklas .headerVersion_2 .conteiner.show-fix:after, .pokerklas .headerVersion_2 .conteiner.show-game:after, .poolbetting .headerVersion_2 .conteiner.show-fix:after, .poolbetting .headerVersion_2 .conteiner.show-game:after {
    content: "";
    height: 36px;
    display: block;
    position: absolute;
    width: 100%;
    background: #052b46;
    left: 0;
    top: 0;
}



body>.about .headerVersion_2 .conteiner, body>.backgammon .headerVersion_2 .conteiner, body>.belote .headerVersion_2 .conteiner, body>.external .headerVersion_2 .conteiner, body>.fantasy .headerVersion_2 .conteiner, body>.first_deposit_bonus .headerVersion_2 .conteiner, body>.first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner, body>.gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner, body>.games .headerVersion_2 .conteiner, body>.gameslanding .headerVersion_2 .conteiner, body>.livedealer .headerVersion_2 .conteiner, body>.poker .headerVersion_2 .conteiner, body>.pokerklas .headerVersion_2 .conteiner, body>.poolbetting .headerVersion_2 .conteiner, body>.vip-promos .headerVersion_2 .conteiner {
    background: #052b46;
}


