

/*
https://restalize.github.io/campy/www.campeonbet.com/skins/campeonbet.com/css/restalize_for_campy.css
*/

















label.results-live-j input+i {
    background-color: #e9edf0;
}

.quick-bet-form-b-v3>ul>li>button:hover, .save-settings-button-v3>button:hover {
    color: #333;
}


.mini-filters-box-v3>ul>li>button {
    color: #333;
}

.footer-j .back-block-j button {

    color: #333;
}


.promotions-menu-p .promotions-baner-p>span {
    color: rgba(255, 255, 255, 0);
}


.virtual-games .virtuals-switch-results-wrapper>ul>li>button {
    color: #172630;
}


.live-calendar-16-content-j li.coeff-column-j {
    color: #172630;
}

.live-cal16-day-selector-j .lc16-right-section-j ul li.active span, .live-cal16-day-selector-j .lc16-right-section-j ul li.active span:last-child {
    color: #172630;
}

.competition-title-v3:hover {
    background: #273a46;
}

.single-events-b-v3:hover>.mini-box-market-info-v3>span {
    color: #172630;
}


.title-competition-dashboard-v3>.arrow-view-v3 {
    line-height: 32px;
    color: #172630;
}


.title-competition-dashboard-v3>h5 {
    color: #333;
}

.game-score.soccer-template {
    padding: 28px 0 32px;
}

.current-game-info-line>p {
    background: #1f4a67;
}

.current-game-info-line>p {
    display: inline-block;
    margin: 1px 0 0;
    color: #3deffb;
    height: 20px;
    padding-top: 1px;
    font: 12px/21px Roboto,sans-serif;
}


.block-slider.popup .register-information-b>h2 {
    color: #fc0;
}


.lmb-table-j li:last-child:hover {
    background-color: rgba(6, 16, 23, 0.6);
}



.lmb-table-j li:hover .market-info-b span {
    color: #172630;
    background-color: rgba(255, 204, 0, 0.38);
    width: 100%;
}



.lmb-table-j li:last-child {
    color: #fc0;
    background-color: rgba(6, 16, 23, 0.7);
}


.product-list-contain>ul>li:hover>a>button {
    color: #172630;
}